version: "3.8"

services:
  db:
    image: postgres:16-alpine
    container_name: bibilio_db
    restart: always

    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

    ports:
      - "5432:5432"

    volumes:
      - db-data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - app-network

  app-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: bibiliodigit:latest
    container_name: bibilio_app

    ports:
      - "8080:8080"

    environment:
      DATABASE_URL: ${DB_URL}
      DATABASE_USER: ${DB_USER}
      DATABASE_PASSWORD: ${DB_PASSWORD}
      DATABASE_NAME: ${DB_NAME}

    depends_on:
      db:
        condition: service_healthy

    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
